<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">รหัสลูกค้า</th>
          <th scope="col">ชื่อลูกค้า</th>
          <th scope="col">ที่อยู่ลูกค้า</th>
          <th scope="col">เลือกศูนย์กระจายน้ำดื่มและเขตจัดส่ง</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of customer; let i = index">
        <td>{{ item?.cusCode }}</td>
        <td>{{ item?.firstName }} {{ item?.lastName }}</td>
        <td>
          {{ item?.houseNo }} {{ item?.building }} {{ item?.road }}
          {{ item?.soi }} {{ item?.subDistrict }} {{ item?.district }}
          {{ item?.city }} {{ item?.postalCode }}
        </td>
        <td>
          <button
            class="btn btn-primary"
            (click)="passIndexValue(i)"
            data-toggle="modal"
            data-target="#customerZoneModal"
          >
            เลือกศูนย์กระจายน้ำดื่มและเขตจัดส่ง
          </button>
        </td>
      </tbody>
    </table>
  </div>
  <!-- Error Modal -->
  <div
    class="modal fade"
    id="errorModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">Error</div>
        <div class="modal-body">{{ message }}</div>
        <!--
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">ตกลง</button>
              <button type="button" data-dismiss="modal" class="btn">ยกเลิก</button>
          </div>
        -->
      </div>
    </div>
  </div>

  <!-- Success Modal -->
  <div
    class="modal fade"
    id="successModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">Success</div>
        <div class="modal-body">{{ message }}</div>
        <!--
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">ตกลง</button>
              <button type="button" data-dismiss="modal" class="btn">ยกเลิก</button>
          </div>
        -->
      </div>
    </div>
  </div>
  <!-- customer zone modal -->
  <div
    class="modal fade"
    id="customerZoneModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
  >
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">บันทึก</div>
        <div class="modal-body">
          <div class="from-group row">
            <label for="warehouse" class="col-sm-2 col-form-label"
              >ศูนย์กระจายน้ำดื่ม:</label
            >
            <div class="col-sm-10">
              <select
                class="form-control"
                id="warehouse.warehouseId"
                name="warehouseSelected"
                [(ngModel)]="warehouseId"
                (change)="getzone()"
              >
                <!-- <option *ngFor="let item of obj" value="">{{item.name}}</option> -->
                <option
                  *ngFor="let item of warehouses; let j = index"
                  [value]="item.warehouseId"
                  >{{ item.warehouseName }}</option
                >
              </select>
            </div>
          </div>
          <br />
          <div class="from-group row">
            <label for="zone" class="col-sm-2 col-form-label">เขตจัดส่ง:</label>
            <div class="col-sm-10">
              <select
                class="form-control"
                id="zone.zoneId"
                name="zoneSelected"
                [(ngModel)]="zoneId"
              >
                <!-- <option *ngFor="let item of obj" value="">{{item.name}}</option> -->
                <option *ngFor="let item of zone" [value]="item.zoneId">{{
                  item.zoneName
                }}</option>
              </select>
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label for="lat" class="col-sm-2 col-form-label">ละติจูดบ้านหรือบริษัทลูกค้า:</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="latitude"
                name="lat"
                [(ngModel)]="lat"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="long" class="col-sm-2 col-form-label"
              >ลองติจูดบ้านหรือบริษัทลูกค้า:</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="longtitude"
                name="long"
                [(ngModel)]="long"
                (change)="calculateDistanceToWh()"
              />
            </div>
          </div>
          <!-- <div class="form-group row">
            <label for="long" class="col-sm-2 col-form-label"
              >customer type:</label
            >
            <div class="col-sm-10">
              <select
                name="cusTypeSelect"
                id="cusTypeSelect"
                [(ngModel)]="cusType"
                class="form-control"
              >
                <option
                  *ngFor="let custype of cusTypeObj"
                  [value]="custype.value"
                  >{{ custype.name }}</option
                >
              </select>
            </div>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="cusType"
                name="cusType"
                [(ngModel)]="cusType"
              />
            </div>
          </div> -->
          <!-- <div class="form-group row">
            <label for="long" class="col-sm-2 col-form-label">day:</label>
            <div class="col-sm-10">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio1"
                  value="จันทร์"
                  [(ngModel)]="day"
                  (change)="getDayValueFromCheckbox($event)"
                />
                <label class="form-check-label" for="inlineRadio1"
                  >จันทร์</label
                >
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio2"
                  value="อังคาร"
                  [(ngModel)]="day"
                  (change)="getDayValueFromCheckbox($event)"
                />
                <label class="form-check-label" for="inlineRadio2"
                  >อังคาร</label
                >
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio3"
                  value="พุธ"
                  [(ngModel)]="day"
                  (change)="getDayValueFromCheckbox($event)"
                />
                <label class="form-check-label" for="inlineRadio3">พุธ</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio4"
                  value="พฤหัสบดี"
                  [(ngModel)]="day"
                  (change)="getDayValueFromCheckbox($event)"
                />
                <label class="form-check-label" for="inlineRadio4"
                  >พฤหัสบดี</label
                >
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio5"
                  value="ศุกร์"
                  [(ngModel)]="day"
                  (change)="getDayValueFromCheckbox($event)"
                />
                <label class="form-check-label" for="inlineRadio5">ศุกร์</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio6"
                  value="เสาร์"
                  [(ngModel)]="day"
                  (change)="getDayValueFromCheckbox($event)"
                />
                <label class="form-check-label" for="inlineRadio6">เสาร์</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio7"
                  value="อาทิตย์"
                  [(ngModel)]="day"
                  (change)="getDayValueFromCheckbox($event)"
                />
                <label class="form-check-label" for="inlineRadio7"
                  >อาทิตย์</label
                >
              </div>
            </div>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="day"
                name="day"
                [(ngModel)]="day"
              />
            </div>
          </div> -->
          <div class="form-group row">
            <label for="long" class="col-sm-2 col-form-label"
              >ระยะทางระหว่างคลังกับบ้านหรือบริษัทลูกค้า:</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="distanceToWh"
                name="distanceToWh"
                [(ngModel)]="distanceToWh"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              (click)="update()"
            >
              อัพเดท
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
