<div class="container">
  <h3>บันทึกผลการจัดส่ง</h3>
  <div class="form-row">
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="หมายเลขรถ"
        name="truckCode"
        [(ngModel)]="truckCode"
      />
    </div>
    <div class="col">
      <div class="input-group date mb-3" data-provide="datepicker">
        <input
          id="pickedDate"
          type="text"
          class="form-control datepicker"
          aria-describedby="addon"
          placeholder="วันที่"
          name="transDate"
          required
        />
        <div class="input-group-append">
          <span id="addon" class="input-group-text fa fa-calendar"></span>
        </div>
        <div class="input-group-addon"></div>
      </div>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary" (click)="getDelivery()">
        ค้นหา
      </button>
    </div>
  </div>
  <div class="row {{ showInfo }}">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Customer Code</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">บันทึกผลการจัดส่ง</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of deliveries; let i = index">
        <td>{{ item?.cusCode }}</td>
        <td>{{ item?.customer.firstName }} {{item?.customer.lastName }}</td>
        <td>{{ item?.quantity }}</td>
        <td>
          <button
            class="btn btn-primary"
            (click)="passIndexValue(i)"
            data-toggle="modal"
            data-target="#deliveryStatusModal"   
          >
            บันทึกผลการจัดส่ง
          </button>
        </td>
      </tbody>
    </table>
  </div>
  <!-- Error Modal -->
  <div
    class="modal fade"
    id="errorModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">Error</div>
        <div class="modal-body">{{ message }}</div>
        <!--
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">ตกลง</button>
              <button type="button" data-dismiss="modal" class="btn">ยกเลิก</button>
          </div>
        -->
      </div>
    </div>
  </div>

  <!-- Success Modal -->
  <div
    class="modal fade"
    id="successModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">Success</div>
        <div class="modal-body">{{ message }}</div>
        <!--
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">ตกลง</button>
              <button type="button" data-dismiss="modal" class="btn">ยกเลิก</button>
          </div>
        -->
      </div>
    </div>
  </div>

  <!-- delivery status modal -->
  <div
    class="modal fade"
    id="deliveryStatusModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">บันทึกผลการจัดส่ง</div>
        <div class="modal-body">
          <div class="from-group row">
            <label for="status" class="col-sm-2 col-form-label">status:</label>
            <div class="col-sm-10">
              <select
                name="status"
                class="form-control"
                [(ngModel)]="status"
              >
                <!-- <option *ngFor="let item of obj" value="">{{item.name}}</option> -->
                <option value="success">จัดส่งสำเร็จ</option>
                <option value="fail">แจ้งเหตุขาดส่ง</option>
              </select>
            </div>
          </div>
          <br />
          <div class="form-group row" *ngIf="status == 'fail'">
            <label for="reason" class="col-sm-2 col-form-label">reason:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="reason" [(ngModel)]="reason"/>
            </div>
          </div>
          <div class="form-group row" *ngIf="status == 'success'">
            <label for="giveback" class="col-sm-2 col-form-label">giveback:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="giveback" [(ngModel)]="giveback"/>
            </div>
          </div>
          <div class="form-group row"  *ngIf="status == 'success'">
            <label for="coupon" class="col-sm-2 col-form-label">coupon:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="coupon" [(ngModel)]="coupon"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="test()"
          >
            ตกลง
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
