<div class="container">
  <h3>เพิ่มลูกค้าใหม่</h3>
  <form>
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="title">คำนำหน้า</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            [(ngModel)]="title"
            placeholder="คำนำหน้า"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="firstname">ชื่อจริง</label>
          <input
            type="text"
            class="form-control"
            id="firstname"
            name="firstname"
            [(ngModel)]="firstName"
            placeholder="ชื่อจริง"
          />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="lastname">นามสกุล</label>
          <input
            type="text"
            class="form-control"
            id="lastname"
            name="lastname"
            [(ngModel)]="lastName"
            placeholder="นามสกุล"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="้houseNo">บ้านเลขที่</label>
          <input
            type="text"
            class="form-control"
            id="houseNo"
            name="houseNo"
            [(ngModel)]="houseNo"
            placeholder="บ้านเลขที่"
          />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="building">ชื่ออาคารหรือหมู่บ้าน</label>
          <input
            type="text"
            class="form-control"
            id="building"
            name="building"
            [(ngModel)]="building"
            placeholder="ชื่ออาคารหรือหมู่บ้าน"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="road">ถนน</label>
          <input
            type="text"
            class="form-control"
            id="road"
            name="road"
            [(ngModel)]="road"
            placeholder="ถนน"
          />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="soi">ซอย</label>
          <input
            type="text"
            class="form-control"
            id="soi"
            name="soi"
            [(ngModel)]="soi"
            placeholder="ซอย"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="subdistrict">แขวงหรือตำบล</label>
          <input
            type="text"
            class="form-control"
            id="subdistrict"
            name="subdistrict"
            #subdistrictValue
            [(ngModel)]="subDistrict"
            placeholder="แขวงหรือตำบล"
          />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="district">เขตหรืออำเภอ</label>
          <input
            type="text"
            class="form-control"
            id="district"
            name="district"
            #districtValue
            [(ngModel)]="district"
            placeholder="เขตหรืออำเภอ"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="city">จังหวัด</label>
          <input
            type="text"
            class="form-control"
            id="city"
            name="city"
            #cityValue
            [(ngModel)]="city"
            placeholder="จังหวัด"
          />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="postalcode">รหัสไปรษณีย์</label>
          <input
            type="text"
            class="form-control"
            id="postalcode"
            name="postalcode"
            #postalCodeValue
            [(ngModel)]="postalCode"
            placeholder="รหัสไปรษณีย์"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="depBottle">จำนวนถังน้ำ</label>
          <input
            type="text"
            class="form-control"
            id="depBottle"
            name="depBottle"
            [(ngModel)]="depBottle"
            placeholder="จำนวนถังน้ำ"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="cusType">ประเภทลูกค้า</label>
          <select
            name="cusTypeSelect"
            id="cusTypeSelect"
            [(ngModel)]="cusType"
            class="form-control"
          >
            <option
              *ngFor="let custype of cusTypeObj"
              [value]="custype.value"
              >{{ custype.name }}</option
            >
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <label for="day" class="col-sm-2 col-form-label">วันที่ต้องการให้ส่งน้ำ</label>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="จันทร์"
            [(ngModel)]="day"
            (change)="getDayValueFromCheckbox($event)"
          />
          <label class="form-check-label" for="inlineRadio1"
            >จันทร์</label
          >
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="อังคาร"
            [(ngModel)]="day"
            (change)="getDayValueFromCheckbox($event)"
          />
          <label class="form-check-label" for="inlineRadio2"
            >อังคาร</label
          >
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio3"
            value="พุธ"
            [(ngModel)]="day"
            (change)="getDayValueFromCheckbox($event)"
          />
          <label class="form-check-label" for="inlineRadio3">พุธ</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio4"
            value="พฤหัสบดี"
            [(ngModel)]="day"
            (change)="getDayValueFromCheckbox($event)"
          />
          <label class="form-check-label" for="inlineRadio4"
            >พฤหัสบดี</label
          >
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio5"
            value="ศุกร์"
            [(ngModel)]="day"
            (change)="getDayValueFromCheckbox($event)"
          />
          <label class="form-check-label" for="inlineRadio5">ศุกร์</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio6"
            value="เสาร์"
            [(ngModel)]="day"
            (change)="getDayValueFromCheckbox($event)"
          />
          <label class="form-check-label" for="inlineRadio6">เสาร์</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio7"
            value="อาทิตย์"
            [(ngModel)]="day"
            (change)="getDayValueFromCheckbox($event)"
          />
          <label class="form-check-label" for="inlineRadio7"
            >อาทิตย์</label
          >
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <button
          type="submit"
          class="btn btn-primary btn-lg btn-block"
          (click)="addCustomer()"
        >
          บันทึกข้อมูล
        </button>
      </div>
    </div>
  </form>
  <!-- Success Modal -->
  <div
    class="modal fade"
    id="successModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">Success</div>
        <div class="modal-body">เพิ่มลูกค้าใหม่สำเร็จ</div>
        <!--
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">ตกลง</button>
              <button type="button" data-dismiss="modal" class="btn">ยกเลิก</button>
          </div>
        -->
      </div>
    </div>
  </div>

  <!-- Error Modal -->
  <div
    class="modal fade"
    id="errorModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">Error</div>
        <div class="modal-body">ระบบมีปัญหา</div>
        <!--
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">ตกลง</button>
              <button type="button" data-dismiss="modal" class="btn">ยกเลิก</button>
          </div>
        -->
      </div>
    </div>
  </div>
</div>
